<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cr.ac.ucr.ecci.cql.campus20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".GuardarAppService" />


        <activity android:name=".MainEmptyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ConfiguracionActivity" />
        <activity android:name=".ucr_eats.activites.MealsActivity" />
        <activity
            android:name=".foro_general.CrearPreguntaForoGeneral"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity
            android:name=".foro_general.ForoGeneralVerTemas"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity
            android:name=".foro_general.MainForoGeneral"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity android:name=".ucr_eats.MainUcrEats" />
        <activity
            android:name=".InterestPoints.FacultiesAndSchools.SchoolViewActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".InterestPoints.FacultiesAndSchools.SchoolsActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".InterestPoints.FacultiesAndSchools.FacultiesActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity android:name=".InterestPoints.Mapbox.Map" />
        <activity android:name=".InterestPoints.InterestPointsActivity" />
        <activity android:name=".red_mujeres.MainRedMujeres" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="locked">
        </activity>
    </application>

</manifest>