<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cr.ac.ucr.ecci.cql.campus20">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".red_mujeres.FormularioComunidad"></activity>
        <activity android:name=".InterestPoints.Comment.CommentPopUp"></activity>
        <activity android:name=".red_mujeres.MisComunidades" />
        <activity
            android:name=".InterestPoints.Library.LibraryViewActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity
            android:name=".InterestPoints.Library.LibraryActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".InterestPoints.Office.OfficeViewActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity
            android:name=".InterestPoints.Office.OfficeActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".InterestPoints.Photocopier.PhotocopierViewActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity
            android:name=".InterestPoints.Photocopier.PhotocopierActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".InterestPoints.Soda.SodaViewActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity
            android:name=".InterestPoints.Soda.SodaActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".ucr_eats.activites.OrderLocationActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity
            android:name=".ucr_eats.activites.OrdenesPendientesActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity
            android:name=".ucr_eats.activites.CompraActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity android:name=".red_mujeres.ComunidadDetalle" />

        <service android:name=".GuardarAppService" />

        <activity
            android:name=".InterestPoints.CoffeShop.CoffeViewActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity
            android:name=".InterestPoints.CoffeShop.CoffeShopsActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity android:name=".foro_general.ForoGeneralVerPreguntas" />
        <activity
            android:name=".MainEmptyActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfiguracionActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity android:name=".ucr_eats.activites.MealsActivity" />
        <activity
            android:name=".foro_general.CrearPreguntaForoGeneral"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity
            android:name=".foro_general.CrearRespuestaForoGeneral"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity
            android:name=".foro_general.ForoGeneralVerTemas"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity
            android:name=".foro_general.ForoGeneralVerRespuestas"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity
            android:name=".foro_general.MainForoGeneral"
            android:theme="@style/AppTheme.ForoGeneral" />
        <activity android:name=".ucr_eats.MainUcrEats" />
        <activity
            android:name=".InterestPoints.FacultiesAndSchools.SchoolViewActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity android:name=".ucr_eats.activites.SodaMapActivity" />
        <activity
            android:name=".InterestPoints.FacultiesAndSchools.SchoolsActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".InterestPoints.FacultiesAndSchools.FacultiesActivity"
            android:theme="@style/AppTheme.InterestsTheme" />
        <activity
            android:name=".InterestPoints.Mapbox.Map"
            android:theme="@style/AppTheme.InterestsTheme" />

        <activity
            android:name=".InterestPoints.InterestPointsActivity"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />

        <activity
            android:name=".red_mujeres.MainRedMujeres"
            android:theme="@style/AppTheme.InterestsThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.redmujeres.com"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name=".red_mujeres.MenuRedMujeres"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
        <activity android:name=".red_mujeres.ComunidadesRedMujeres" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.InterestsThemeNoBar" />
    </application>

</manifest>